{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>


{% load staticfiles %}
<head>
    <title>Онлайн автосервис "AutoFixER"</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta charset="utf-8" />
</head>
<body>
    <p id="p1">
        AutoFixER — это современный онлайн-сервис, созданный для того, чтобы сделать уход за автомобилем максимально удобным, прозрачным и доступным. Мы предлагаем широкий спектр услуг: от оперативной консультации и диагностики до заказа необходимых запчастей и записи на ремонт в проверенные автосервисы вашего города. С AutoFixER вы всегда будете в курсе состояния вашего автомобиля, сможете планировать обслуживание и ремонт заранее, избегая неожиданных поломок и неприятных сюрпризов. Наша платформа объединяет лучшие сервисы и специалистов, предоставляя вам выбор и контроль над процессом обслуживания вашего автомобиля. На нашем сайте вы можете получить предварительную онлайн-консультацию от квалифицированных механиков, загрузив фотографии или видео неисправности. Мы поможем определить вероятную причину проблемы, оценить стоимость ремонта и подобрать необходимые запчасти.
    </p>
</body>

{% endblock %}
