{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>


{% load staticfiles %}
<head>
    <title>Онлайн автосервис "AutoFixER"</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta charset="utf-8" />
</head>
<body>
    <h1>Онлайн автосервис AutoFixER</h1>
    <div><img id="im1" src="{% static 'app/content/images/1.jpg' %}" alt="" width="950" height="500"></div>
    <p id="p1">
        <b>AutoFixER</b> — это современный онлайн-сервис, созданный для того, чтобы сделать уход за автомобилем максимально удобным, прозрачным и доступным. Мы предлагаем широкий спектр услуг: от оперативной консультации и диагностики до заказа необходимых запчастей и записи на ремонт в проверенные автосервисы вашего города. С AutoFixER вы всегда будете в курсе состояния вашего автомобиля, сможете планировать обслуживание и ремонт заранее, избегая неожиданных поломок и неприятных сюрпризов. Наша платформа объединяет лучшие сервисы и специалистов, предоставляя вам выбор и контроль над процессом обслуживания вашего автомобиля.
    </p>
    <p>
        На нашем сайте вы можете получить предварительную онлайн-консультацию от квалифицированных механиков, загрузив фотографии или видео неисправности. Мы поможем определить вероятную причину проблемы, оценить стоимость ремонта и подобрать необходимые запчасти.
        <div><img id="im2" src="{% static 'app/content/images/2.jpg' %}" alt="" width="950" height="500"></div>
    </p>
    <h2>Наши механики:</h2>
        <ul>
            <li><em>Иванов Дмитрий Алексеевич</em> - опытный механик с 15-летним стажем, специализируется на двигателе и ходовой части;</li>
            <li><em>Петров Михаил Сергеевич</em> - молодой, но талантливый специалист, особенно хорош в работе с электроникой и компьютерной диагностикой; </li>
            <li><em>Кузнецов Андрей Петрович</em> - мастер на все руки. Может справиться с любой задачей: от замены масла до капитального ремонта;</li>
            <li><em>Васильев Николай Иванович</em> - специалист по кузовным работам и покраске, имеет дополнительное образование автомаляра;</li>
            <li><em>Морозов Кирилл Евгеньевич</em> - эксперт по трансмиссиям и АКПП, постоянно повышает квалификацию на специализированных курсах.</li>
        </ul>
    <div>
        <img src="{% static 'app/content/images/3.jpg' %}" alt="" width="375" height="250">
    </div>
    <p>
        Мы также предлагаем удобный сервис заказа запчастей с возможностью доставки прямо к автосервису, выбранному вами для ремонта. AutoFixER гарантирует подлинность и качество предлагаемых запчастей, работая только с проверенными поставщиками. С нами вы экономите время и деньги, получая полный контроль над процессом обслуживания вашего автомобиля, от диагностики до ремонта и покупки запчастей, все в одном удобном месте.
    </p>
</body>

{% endblock %}
