{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<address>
    ООО "AutoFixER"<br />
    Улица Юбилейная, дом 32<br />
    <abbr title="телефон">P:</abbr>
    +79113553177
</address>

<address>
    <strong>Техническая поддержка:</strong>   <a href="mailto:gorshkovSAgold@yandex.ru">gorshkovSAgold@yandex.ru</a><br />
    <strong>Отдел маркетинга:</strong> <a href="mailto:gorshkovaal11@yandex.ru">gorshkovaal11@yandex.ru</a>
</address>

{% endblock %}
