{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<br />

{% for service in services %}

<hr />

<div class="">

    <h2> {{service.title}} </h2>

    <h4> {{service.description}} </h4>

    <p> {{service.price}} рублей</p>

    <p><a href="{% url 'servicepost' parametr=service.id %}"> Купить </a> </p>

    {% if user.is_superuser %}
    <p><a href="{% url 'editservice' parametr=service.id %}"> Редактировать </a> </p>
    {% endif %}
</div>

{% endfor %}

<p><a href="{% url 'catalog' %}"> Назад </a> </p>

{% endblock %}